@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CloudStack</h1>
    <p class="lead">Take control of your Azure cloud with CloudStack.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Sign-in &raquo;</a></p>
</div>