<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <!--<add key="ClientID" value="9d6614ce-9a62-464f-b0c6-3c97120fb98a"/>-->
    <add key="ClientID" value="1950a258-227b-4e31-a9cf-717495945fc2"/>
    <add key="RedirectUri" value="http://www.vipswapper.com/cloudstack"/>
    <add key="GraphResourceUri" value="https://graph.windows.net"/>
    <add key="GraphUrl" value="https://graph.windows.net/{0}?api-version=1.6"/>
    <add key="ARMResourceUri" value="https://management.core.windows.net/"/>
    <add key="DeviceCodeUrl" value="https://login.microsoftonline.com/{0}/oauth2/devicecode?api-version=1.0"/>
    <add key="TokenUrl" value="https://login.microsoftonline.com/{0}/oauth2/token?api-version=1.0"/>
    <add key="BinaryLocation" value="https://github.com/dushyantgill/VipSwapper/blob/master/CloudSense/CloudStack/Deploy"/>
  </appSettings>
</configuration>
